<div class="list-group sections">
	<span class="list-group-item list-group-item-heading">{{_labels.[sections]}}</span>

	<a href="{{route-section}}" class="list-group-item">{{_labels.[{{label-section}}]}}</a>
</div>

<div class="list-group actions">
	<span class="list-group-item list-group-item-heading">{{_labels.[actions]}}</span>

	<a href="{{route-action-list}}" class="list-group-item">{{_labels.[{{label-action-list}}]}}</a>
	<a href="{{route-action-add}}" class="list-group-item">{{_labels.[{{label-action-add}}]}}</a>
	<a href="{{route-action-edit}}" class="list-group-item">{{_labels.[{{label-action-edit}}]}}</a>

</div>

