<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>{{_labels.[branding.title]}}</title>

<script src="{{context-path}}/js/pre-process.js"></script>

<!-- REQUIRED: adds the framework lib resources (jquery, bootstrap, css and js) -->



{{{main-libs}}}

<script>
	mc2Engine.router.setHomePage('client/new');
</script>

</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header col-sm-2">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">{{_labels.[branding.title]}}</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav col-sm-8">{{{main-menu}}}
				</ul>
				<ul class="nav navbar-nav navbar-right col-sm-2">
					<!-- USER DATA -->
					<li>{{{user-data}}}</li>
				</ul>
			</div>
		</nav>

		<div class="main-container">

			<!-- REQUIRED: a component with 'sidebar-content' id is required if the pagelayout defines a sidebar -->
			<div id="sidebar-content" class="col-sm-2 well"></div>

			<!-- REQUIRED: a component with 'main-content' id is required -->
			<div class="col-sm-10">
				<div id="alert_content"></div>
				<div id="main-content">
					<div class="jumbotron">
						<h1>{{_labels.[branding.title]}}</h1>
						<p>INSERT HERE YOUR WELCOME TEXT</p>
					</div>
				</div>
			</div>

		</div>
	</div>

</body>
</html>








